{% extends "inventory/print/_base.html" %}
{% block to_label %}Deliver to:{% endblock %}

{% block doc_meta %}
  <tr><td class="k">Delivery#</td><td class="v">{{ doc.reference }}</td></tr>
  <tr><td class="k">Date</td><td class="v">{{ doc.document_date|date:"d / m / Y" }}</td></tr>
  {% if doc.invoice %}<tr><td class="k">Invoice</td><td class="v">{{ doc.invoice.reference }}</td></tr>{% endif %}
  {% if doc.vehicle_number %}<tr><td class="k">Vehicle</td><td class="v">{{ doc.vehicle_number }}</td></tr>{% endif %}
{% endblock %}

{% block items %}{% include "inventory/print/_items.html" with show_price=False %}{% endblock %}

{% block notes %}
  <h4>Received in good condition</h4>
  <p>Please check the goods before signing. Shortages or damage must be reported within 48 hours.
     This delivery note is not a tax invoice.</p>
{% endblock %}

{% block totals %}
<table class="totals" width="100%">
  <tr><td class="k" style="padding-left:8mm">Received by:</td><td class="v">&nbsp;</td></tr>
  <tr><td colspan="2" style="padding:9mm 16mm 0 8mm"><div style="border-top:1px solid #33373F"></div></td></tr>
  <tr><td class="k" style="padding-left:8mm">Date:</td><td class="v">&nbsp;</td></tr>
  <tr><td colspan="2" style="padding:7mm 16mm 0 8mm"><div style="border-top:1px solid #33373F"></div></td></tr>
</table>
{% endblock %}

{% block sign_label %}Delivered by{% endblock %}
