{% extends "inventory/print/_base.html" %}
{% block to_label %}Invoice to:{% endblock %}

{% block doc_meta %}
  <tr><td class="k">Invoice#</td><td class="v">{{ doc.reference }}</td></tr>
  <tr><td class="k">Date</td><td class="v">{{ doc.document_date|date:"d / m / Y" }}</td></tr>
  <tr><td class="k">Due</td><td class="v">{{ doc.due_date|date:"d / m / Y"|default:"On receipt" }}</td></tr>
  {% if doc.quotation %}<tr><td class="k">Quotation</td><td class="v">{{ doc.quotation.reference }}</td></tr>{% endif %}
{% endblock %}

{% block items %}{% include "inventory/print/_items.html" with show_price=True %}{% endblock %}

{% block notes %}
  <h4>Thank you for your business</h4>
  <p style="margin-bottom:4mm"></p>
  <h4>Terms &amp; Conditions</h4>
  <p>Payment is due {% if doc.due_date %}by {{ doc.due_date|date:"d M Y" }}{% else %}on receipt{% endif %}.
     Goods remain the property of {{ company.name }} until paid for in full.</p>
  {% include "inventory/print/_payment.html" %}
{% endblock %}

{% block totals %}
{% include "inventory/print/_totals.html" with paid_rows=True %}
{% if doc.efd_qr_image or doc.efd_receipt_number %}
<table class="efd" width="100%"><tr>
  {% if doc.efd_qr_image %}<td width="27mm" style="padding-left:8mm"><img src="{{ doc.efd_qr_image }}" alt="EFD QR code"></td>{% endif %}
  <td style="padding-left:4mm;padding-right:16mm">
    <div class="t">TRA Fiscal Receipt</div>
    <div class="s">
      {% if doc.efd_receipt_number %}No. <b>{{ doc.efd_receipt_number }}</b><br>{% endif %}
      Scan to verify with TRA
    </div>
  </td>
</tr></table>
{% endif %}
{% endblock %}
