{% extends "inventory/print/_base.html" %}
{% block to_label %}Quotation to:{% endblock %}

{% block doc_meta %}
  <tr><td class="k">Quotation#</td><td class="v">{{ doc.reference }}</td></tr>
  <tr><td class="k">Date</td><td class="v">{{ doc.document_date|date:"d / m / Y" }}</td></tr>
  <tr><td class="k">Valid until</td><td class="v">{{ doc.valid_until|date:"d / m / Y"|default:"-" }}</td></tr>
{% endblock %}

{% block items %}{% include "inventory/print/_items.html" with show_price=True %}{% endblock %}

{% block notes %}
  <h4>Thank you for your enquiry</h4>
  <p style="margin-bottom:4mm"></p>
  <h4>Terms &amp; Conditions</h4>
  <p>Prices are valid until {{ doc.valid_until|date:"d M Y"|default:"further notice" }} and subject to
     stock availability at the time of order. All prices in Tanzania Shillings.</p>
  {% include "inventory/print/_payment.html" %}
{% endblock %}

{% block totals %}{% include "inventory/print/_totals.html" %}{% endblock %}
